
{% extends 'ecom/homebase.html' %}
{% load static %}
<!-- login and registration page css-->
<style>
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
</style>

{% load widget_tweaks %}
{% block content %}


<section class="vh-100 text-white">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form method="post">
        {% csrf_token %}
             <!--
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Sign in with</p>
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-linkedin-in"></i>
            </button>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Or</p>
          </div>
          -->
          
                             
                               
                     
          <div class="form-outline mb-1">
            <input type="email" id="form3Example3" class="form-control form-control-lg text-white  rounded" />
            <label class="form-label text-white" for="form3Example3">Admin Username</label>
            {% render_field form.username class="form-control p-2 rounded " placeholder="Username" %}
          </div>

           
          <div class="form-outline mb-2">
            <input type="password" id="form3Example4" class="form-control form-control-lg " />
            <label class="form-label text-white" for="form3Example4">Admin Password</label>
            {% render_field form.password class="form-control  p-2 rounded" placeholder="Password" %}
          </div>
          

        
          
          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" name="" class="btn btn-primary btn-lg text-white" href="/customer-home"
              style="padding-left: 2.5rem; padding-right: 2.5rem; background-color:#736de5 border-0;">Login</button>
           
          </div>

        </form>
      </div>
    </div>
  </div>
  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 ">
    

    
  </div>
</section>
{% endblock content %}
